<h1 class="text-4xl">Sign In</h1>

<%= form_with url: sign_in_path, data:{ turbo: false }, local:true do |form| %>
    <div class="font-bold">
        <%= form.label :email %>
    </div>
    <div class="mb-2">
        <%= form.email_field :email, class: "form-input px-4 py-3 my-3 rounded", placeholder: "name@email.com" %>
    </div>

    <div class="font-bold">
        <%= form.label :password %>
    </div>
    <div class="mb-2">
        <%= form.password_field :password, class: "form-input px-4 py-3 my-3 rounded", placeholder: "password" %>
    </div>

    <div>
        <%= form.submit "Sign In", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
    </div>
<% end %>