<h1 class="text-4xl">Sign Up</h1>

<%= form_with model: @user, url: sign_up_path, data: { turbo: false }, local:true do |form| %>
    <% if @user.errors.any? %>
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
            <% @user.errors.full_messages.each do |message| %>
                <div><%= message %></div>
            <% end %>
        </div>  
    <% end %>

    <div class="font-bold">
        <%= form.label :email %>
    </div>
    <div class="mb-2">
        <%= form.email_field :email, class: "form-input px-4 py-3 my-3 rounded", placeholder: "name@email.com" %>
    </div>
    <div class="font-bold">
        <%= form.label :password %>
    </div>
    <div class="mb-2">
        <%= form.password_field :password, class: "form-input px-4 py-3 my-3 rounded", placeholder: "password" %>
    </div>
    <div class="font-bold">
        <%= form.label :password_confirmation %>
    </div>
    <div class="mb-8">
        <%= form.password_field :password_confirmation, class: "form-input px-4 py-3 my-3 rounded", placeholder: "password" %>
    </div>
    <div>
        <%= form.submit "Sign Up", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
    </div>
<% end %>