<div id="<%= dom_id contact %>">
  <div class="bg-white shadow rounded-lg mt-10 p-10">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="lg:text-center">
      <h2 class="text-base text-indigo-600 font-semibold tracking-wide uppercase">Contact</h2>
    
      <p class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl"><%= contact.first_name %> <%= contact.last_name %></p>
      <div class="text-sm leading-normal text-gray-400 flex justify-center items-center">
                <svg viewBox="0 0 24 24" class="mr-1" width="16" height="16" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round"><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path><circle cx="12" cy="10" r="3"></circle></svg>
                <%= contact.city %>, <%= contact.state %>
        </div>
    </div>

    <div class="mt-10">
      <dl class="space-y-10 md:space-y-0 md:grid md:grid-cols-4 md:gap-x-8 md:gap-y-10">
        <div class="relative">
          <dt>
            <div class="absolute flex items-center justify-center h-9 w-9 rounded-md bg-blue-500 text-white">
              <!-- Heroicon name: outline/phone -->
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z" />
              </svg>
            </div>
            <p class="ml-12 text-lg leading-6 font-medium text-gray-900">Phone:</p>
          </dt>
          <dd class="mt-2 ml-12 text-base text-gray-500"><%= contact.phone %></dd>
        </div>

        <div class="relative">
          <dt>
            <div class="absolute flex items-center justify-center h-9 w-9 rounded-md bg-blue-500 text-white">
              <!-- Heroicon name: outline/inbox -->
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M20 13V6a2 2 0 00-2-2H6a2 2 0 00-2 2v7m16 0v5a2 2 0 01-2 2H6a2 2 0 01-2-2v-5m16 0h-2.586a1 1 0 00-.707.293l-2.414 2.414a1 1 0 01-.707.293h-3.172a1 1 0 01-.707-.293l-2.414-2.414A1 1 0 006.586 13H4" />
              </svg>
            </div>
            <p class="ml-12 text-lg leading-6 font-medium text-gray-900">Email:</p>
          </dt>
          <dd class="mt-2 ml-12 text-base text-gray-500"><%= contact.email %></dd>
        </div>

        <div class="relative">
          <dt>
            <div class="absolute flex items-center justify-center h-9 w-9 rounded-md bg-blue-500 text-white">
              <!-- Heroicon name: outline/home -->
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
              </svg>
            </div>
            <p class="ml-12 text-lg leading-6 font-medium text-gray-900">Address:</p>
          </dt>
          <dd class="mt-2 ml-12 text-base text-gray-500"><%= contact.street_address %><br> <%= contact.city %>, <%= contact.state %> <%= contact.zip_code %></dd>
        </div>

        <div class="relative">
          <dt>
            <div class="absolute flex items-center justify-center h-9 w-9 rounded-md bg-blue-500 text-white">
              <!-- Heroicon name: outline/cake -->
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M21 15.546c-.523 0-1.046.151-1.5.454a2.704 2.704 0 01-3 0 2.704 2.704 0 00-3 0 2.704 2.704 0 01-3 0 2.704 2.704 0 00-3 0 2.704 2.704 0 01-3 0 2.701 2.701 0 00-1.5-.454M9 6v2m3-2v2m3-2v2M9 3h.01M12 3h.01M15 3h.01M21 21v-7a2 2 0 00-2-2H5a2 2 0 00-2 2v7h18zm-3-9v-2a2 2 0 00-2-2H8a2 2 0 00-2 2v2h12z" />
              </svg>
            </div>
            <p class="ml-12 text-lg leading-6 font-medium text-gray-900">Birthday</p>
          </dt>
          <dd class="mt-2 ml-12 text-base text-gray-500"><%= contact.birthday %></dd>
        </div>
      </dl>
    </div>
    <p class="mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto"><%= contact.note %></p>
  </div>
  <div class="flex items-center justify-center mt-10 ">
  <% if action_name != "show" %>
    <%= link_to "Show this contact", contact, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this contact', edit_contact_path(contact), class: "rounded-lg py-3 ml-2 px-5 bg-blue-500 text-white inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
  </div>
</div>
<!-- Default Contact Form-->
<!--
<div id="<%= dom_id contact %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">First name:</strong>
    <%= contact.first_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Last name:</strong>
    <%= contact.last_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= contact.email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Phone:</strong>
    <%= contact.phone %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Street address:</strong>
    <%= contact.street_address %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">City:</strong>
    <%= contact.city %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">State:</strong>
    <%= contact.state %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Zip code:</strong>
    <%= contact.zip_code %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Birthday:</strong>
    <%= contact.birthday %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Note:</strong>
    <%= contact.note %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this contact", contact, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this contact', edit_contact_path(contact), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
-->