<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @contact %>

    <%= link_to 'Edit this contact', edit_contact_path(@contact), class: "mt-2 rounded-lg py-3 px-5 text-white bg-green-500 transition colors hover:bg-green-700 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to 'Delete this contact', contact_path(@contact), method: :delete, class: "mt-2 rounded-lg py-3 px-5 shadow bg-gray-100 font-medium" %>
    </div>
    <%= link_to 'Back to contacts', contacts_path, class: "ml-2 rounded-lg py-3 px-5 bg-blue-500 transition colors hover:bg-blue-600 shadow text-white shadow inline-block font-medium" %>
  </div>
</div>
